/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/lib/index.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/mega-menu/mega-menu.css ***!
  \*****************************************************************************************************************************************************************************************************************************/
.new-megamenu__imageholder {
        gap:24px;
    }
        .new-megamenu__imageholder a:hover .new-megamenu__image-title {
                    color:#5F95A8 !important;
}
        .new-megamenu__image-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        -webkit-text-decoration-line: underline;
                text-decoration-line: underline;
        color:#575757;
        margin-top:10px;
        text-align:left;
    }
        .new-megamenu__links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex-wrap: wrap;
        height: 400px;
    }
        .new-megamenu .megamenu__header {
        font-weight: 500 !important;
        font-family: 'FoundersGrotesk' !important;
    }
        .new-megamenu .megamenu.row {
        padding: 50px 142px 40px;
    }
        ul.navigation__menu.row, .nav-inner-container {
    width:100% !important;
}
        /* .megamenu.row {
    display:block !important;
} */
        .nav-inner-container {
    width:100% !important;
}
        .header-section.nav__option-inline .nav-inner-container.nav_inline_center #logo {
    margin-left: 40px;
}
        ul#cart {
    margin-right: 40px;
}
        .navigation__menulink {
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.02em;
}
        .navigation__menuitem:hover {
    background: none;
}
        .nav-inner-container.nav_inline_center .navigation__menu {
    align-items: baseline;
}
        .nav-overlay {
    width: 100%;
    height: 100vh;
    background: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    display: none;
    transition:all 0.5s ease-in
}
        .nav-overlay.show {
        opacity: .2;
        display: block;
        transition:all 0.5s ease-in;
}
        .megamenu__headerlink:hover {
        color:#5F95A8 !important;
}
        .megamenu__listlink:hover {
        color:#5F95A8 !important;
}
        .new-mobile-menu .js-accordion-link {
        font-family: 'Founders Grotesk' !important;
        font-style: normal !important;
        font-weight: 400 !important;
        font-size: 20px !important;
        line-height: 22px !important;
        color: #575757 !important;
    }
        .new-mobile-menu .c-accordion.c-accordion--mobile-nav:not(.c-accordion--mobile-nav__inner) {
        justify-content: unset !important;
        padding: 42px 30px 82px 54px;
    }
        .new-mobile-menu .c-accordion.c-accordion--mobile-nav.c-accordion--mobile-nav__inner li:last-child {
        padding-bottom: 100px !important;
    }
        .new-mobile-menu .c-accordion.c-accordion--mobile-nav .c-accordion__header .dropdown-arrow i {
        transform: rotate(-90deg);
        color: #575757 !important;
        margin-top: -5px !important;
        font-size: 18px !important;
        display: block !important;
    }
        .new-mobile-menu .c-accordion__title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #575757;
    }
        .new-mobile-menu .c-accordion--mobile-nav__inner {
        right:-2 !important;
    }
        .new-mobile-menu .lvl-two-ul {
        right:-18px !important;
    }
        #slideout-mobile-navigation .mobile-menu__back {
    background: none;
    font-family: 'Founders Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #575757 !important;
    left: 54px !important;
}
        .bottom-item {
    position: absolute;
    bottom: 20vh;
}
