/*!*******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js?importLoaders=1!./node_modules/postcss-loader/lib/index.js!./node_modules/style-resources-loader/lib/index.js??clonedRuleSet-2.use[3]!./src/modules/product-template/product-template.css ***!
  \*******************************************************************************************************************************************************************************************************************************************/
.product-template {
    padding: 40px 0;
}
    .product-template__wrapper {
        gap:40px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .product-template__wrapper--content__review {
                line-height: 1.6;
                font-size: 20px;
            }
    .product-template__wrapper--content__review--mark {
                    font-weight: 600;
                    font-size: 28px;
                }
    .product-template__wrapper--content__review--number {
                    font-size: 18px;
                }
    .product-template__wrapper--content__title {
                margin: 8px 0 20px;
                -webkit-animation: light 3s linear;
                        animation: light 3s linear;
                letter-spacing: 0.06rem;
            }
    .product-template__wrapper--content__features {
                font-size: 21px;
                line-height: 25px;
                color:#efefef;
                font-weight: 200;
            }
    @media only screen and (max-width: 991px) {
    .product-template__wrapper--content__features {
        font-size:19x;
    }
}
    @media only screen and (max-width: 768px) {
    .product-template__wrapper--content__features {
        font-size:18x;
    }
}
    .product-template__wrapper--content__features--name {
                    margin: 8px 0;
}
    .product-template__wrapper--content__crossedPrice {
                line-height: 1.4;
                font-size: 23px;
                font-weight: 400;
                text-decoration: line-through;
                font-weight: 400;
}
    @media only screen and (max-width: 991px) {
    .product-template__wrapper--content__crossedPrice {
        font-size:18px;
    }
}
    .product-template__wrapper--content__originalPrice {
                font-weight: 800;
                margin: 8px 0;
                line-height: 1.2;
                font-size: 28px;
}
    @media only screen and (max-width: 991px) {
    .product-template__wrapper--content__originalPrice {
        font-size: 30px;
    }
}
    .product-template__wrapper--content__originalPrice--delivery {
                    font-size:21px;
}
    .product-template__wrapper--content__form--qty {
                    max-width: 150px;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    margin-bottom:8px;
                }
    .product-template__wrapper--content__form--qty__custom {
                        width: 25%;
                        display: flex;
                        align-items: center;
                        vertical-align: middle;
                        justify-content: center;
                        font-size: 30px;
                        background-color: #131313;
                        cursor: pointer
                    }
    .product-template__wrapper--content__form--qty__custom.js-minus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
    .product-template__wrapper--content__form--qty__custom.js-plus {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
    .product-template__wrapper--content__form--qty__number {
                        border:none !important;
                        margin: 0 !important;
                        text-align: center;
                        font-size: 20px;
                    }
    .product-template__wrapper--content__form--atc {
                    margin: 16px 0;
                }
    .product-template__wrapper--content__form--atc button {
                        border:none;
                        font-weight:700;
                        font-size:34px;
                        line-height:29px;
                        text-transform:uppercase;
                        border-radius: 10px;
                        padding: 25px 20px;
                        border:2px solid #60c655; /* For Safari 3.0 to 6.0 */
                        transition: all 1s /* For modern browsers */
                
                    }
    .product-template__wrapper--content__form--atc button:hover {
    background-color: #131313;
    color:#60c655; /* For Safari 3.0 to 6.0 */
    transition: all 1s; /* For modern browsers */
}
    @media only screen and (max-width: 991px) {
    .product-template__wrapper--content__form--atc button {
        font-size:18px;
    }
}
    @media only screen and (max-width: 768px) {
    .product-template__wrapper--content__form--atc button {
        font-size:16px;
    }
}
    .product-template__wrapper--content__form--note {
                    text-align: center;
                    line-height: 1;
                    font-size: 16px;
}
    .product-template__wrapper--content__form--buynow {
                    border:2px solid #60c655;
                    border-radius: 10px;
                    font-weight:700;
                    font-size:24px;
                    line-height:29px;
                    padding: 20px 20px;
                    text-transform:uppercase;
                    margin-top:16px;
                    background-color: #131313; /* For Safari 3.0 to 6.0 */
                    transition: all 1s; /* For modern browsers */
}
    .product-template__wrapper--content__form--buynow:hover {
    color:#60c655; /* For Safari 3.0 to 6.0 */
    transition: all 1s; /* For modern browsers */
}
    .product-template__wrapper--content__form--customSelect {
                    background-color: #131313;
                    width: 100%;
                    color: #efefef;
                    border-radius: 10px;
                    border: 0.75px solid #fff;
                    padding: 8px 24px 8px 8px;
                    max-width: 300px;
}
    @-webkit-keyframes light {
    0% {
      text-shadow: none;
    }
    50% {
      color: #f1c40f;
      text-shadow: 0 0 1rem #d35400, 0 0 7rem #d35400;
    }
    100% {
      text-shadow: none;
    }
  }
